<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dbf565a4-3236-4597-bc7f-439fed79a9fa" Alias="Umbraco Commerce: Tax Class Picker" Level="1">
  <Info>
    <Name>Umbraco Commerce: Tax Class Picker</Name>
    <EditorAlias>Umbraco.Commerce.StoreEntityPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EntityType": "TaxClass",
  "StoreConfig": {
    "storeId": null,
    "storeMode": "Search"
  }
}]]></Config>
</DataType>