<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40303319-caa5-44ad-9d3f-d48be504bbcc" Alias="Umbraco Commerce: Price" Level="1">
  <Info>
    <Name>Umbraco Commerce: Price</Name>
    <EditorAlias>Umbraco.Commerce.Price</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Fraction": 0
}]]></Config>
</DataType>